.viewerExpanded {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 0;
}

.viewerExpanded > * {
  background-color: var(--pf-t--global--background--color--primary--default);
}


.panelViewerDivider {
  display: block;
  height: 1.5em;
}

.viewerExpanded > .panelViewerDivider {
  height: 0;
}
