.che-monaco-editor
  height calc(100% - 20px)

  *[ng-messages]
    height 20px
    color $error-color
    position relative

    & > div
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      position absolute
      left 0
      right 0

    *:not(:first-child)
      display none

  .che-input-desktop
    margin-top 0
