.custom-workspace-tab

  .custom-workspace-devfile-label
    margin-top 38px

  .custom-workspace-tab-devfile
    .pf-c-select, input
      width 330px
    .pf-c-select__menu
      max-height 450px
      overflow-y auto
      max-width 100%

  @-moz-document url-prefix()
    .pf-c-form__label
      white-space nowrap
      & + .pf-c-form__horizontal-group
        margin-left 15px
