.viewer {
  height: calc(100vh - 31em);
  min-height: 15em;

  font-size: small;
  color: var(--pf-t--global--text--color--subtle);

  background-color: var(--pf-t--global--background--color--secondary--default);
  border: var(--pf-t--global--border--color--default) solid 2px;
  border-radius: 2px;
}

.expanded.viewer {
  height: calc(100% - 3em);
}

.linesCounter {
  padding: 0 5px;
  font-weight: 600;
  line-height: 2em;
  background-color: var(--pf-t--global--background--color--secondary--default);
}

.logs {
  overflow: auto;
  height: calc(100% - 2em);
  padding: 0 5px;
}

.errorColor {
  color: var(--pf-t--global--icon--color--status--danger--default);
}
