div[ui-monaco]
  position relative
  width 100%
  min-height 300px
  height 100%
  & > *
    position absolute
    top 0
    left 0
    right 0
    bottom 0

.devfile-editor-decoration
  background-color alpha(#f1c050, 0.5)
