.workspaces-list-table-header
  user-select none
  text-transform uppercase
  color #4a90e2
  tr > *
    padding 10px 20px
    font-size 14px

.workspaces-list-table-body
  user-select none
  tr
    cursor pointer
    & > *
      padding 10px 20px
      font-size 15px
      color rgba(0, 0, 0, 0.87)
    i
      position relative
      top 1px
  .codicon
    top 3px
  tr:hover
    background-color #f5f5f5
  tr > *:last-child
    cursor auto

.workspaces-list-empty-state
  line-height 70px
  text-align center
  font-size 15px
  color #aeb0b2
