.get-started-template
  user-select: none

  img
    max-height 64px

  .blank-icon
    font-size 64px
    width 64px
    line-height 64px
    text-align center
    filter grayscale(100%) opacity(50%)

    .chefont.cheico-type-blank
      width 100%
