.refreshTokenArea {
  overflow-x: auto;
  display: none;

  max-height: 210px;
  padding: 7px;

  word-wrap: break-word;
  white-space: pre-wrap;

  background-color: var(--pf-t--global--background--color--secondary--default);
  border: 1px solid var(--pf-t--global--border--color--default);
  border-radius: 3px;
}

.refreshTokenButtonHidden {
  display: none !important;
}

.refreshTokenButtonHidden + span {
  display: none;
}

.refreshTokenButtonHidden + span + pre {
  display: block;
}
