.workspaceDetailsHeader {
  padding-bottom: 0;
}

.workspaceDetailsHeader li:first-child {
  margin-right: 0;
}

.workspaceDetailsHeader li:first-child a {
  margin-right: 8px;
}

.workspaceDetailsHeader h1 {
  padding-top: 15px;
  line-height: 25px;
}
