.config-import
  margin 0

  .config-editor
    height calc(100vh - 300px)
    width 100%
    margin 0 0 25px 0

  .config-editor .monaco-editor
    border 1px solid $list-separator-color
    min-height 300px
    font-size 12px
  .config-editor > div
    text-align right

  .config-docs-link
    margin-top 5px

  .error-message
    color $error-color
