.config-import
  margin 0

  .config-editor
    height calc(100vh - 250px)
    width 100%
    margin-top 20px
    margin-right 8px

  .config-editor .monaco-editor
    border 1px solid $list-separator-color
    min-height 300px
    font-size 12px

  .config-docs-link
    margin-top 5px

  .error-message
    color $error-color
