/* Add your branding customizations here. */
.main-page-loader {
  position: absolute;
  z-index: 80;
  inset: 0;

  margin: auto;

  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #fff;

  background-color: #000;
}

.main-page-loader .ide-page-loader-content {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.main-page-loader .ide-page-loader-content img {
  max-width: 140px;
  max-height: 140px;

  object-fit: contain;

  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: high-quality;

  animation-name: opacity;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}
