#
# Copyright (c) 2020 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#
name: CI
# Trigger the workflow on push
on:
  # push:
  #   branches:
  #     - main-react
  pull_request:
    branches: [main-react]
jobs:
  docker-build:
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
    env:
      IMAGE_FULL: quay.io/eclipse/che-dashboard:next-react
      CACHE_IMAGE_FULL: docker.io/cheincubator/che-dashboard:cache-react
    steps:
      - name: "Checkout che-dashboard source code"
        uses: actions/checkout@v2
      - name: "Set up QEMU"
        uses: docker/setup-qemu-action@v1
      - name: "Set up Docker Buildx"
        uses: docker/setup-buildx-action@v1
      - name: "Docker quay.io Login"
        uses: docker/login-action@v1
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}
      - name: "Docker docker.io Login"
        uses: docker/login-action@v1
        with:
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: "Build and push"
        uses: docker/build-push-action@v2
        with:
          context: .
          cache-from: type=registry,ref=${{ CACHE_IMAGE_FULL }}
          cache-to: type=registry,ref=${{ CACHE_IMAGE_FULL }},mode=max
          file: ./apache.Dockerfile
          platforms: linux/amd64,linux/s390x
          push: false
          tags: ${{ IMAGE_FULL }}
