#
# Copyright (c) 2020-2024 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#

name: CODECOV

on:
  push:
    branches: 
      - main
  pull_request:
    branches:
      - main

jobs:

  coverage-report:
    runs-on: ubuntu-22.04
    steps:
      -
        name: "Checkout Che Dashboard source code"
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      -
        name: "Use Node.js"
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
      -
        name: "Install dependencies"
        run: yarn
      -
        name: "Run unit tests"
        run: yarn test:coverage
      -
        name: "Build Codecov report"
        uses: codecov/codecov-action@v3
        with:
          files: ./packages/dashboard-frontend/coverage/lcov.info,./packages/dashboard-backend/coverage/lcov.info,./packages/common/coverage/lcov.info
